
input[type="submit"] {
    transition: background-color 0.3s ease; 
}

input[type="submit"]:hover {
    background-color:darkgreen; 
}
tr:hover {
    background-color:darkgreen; /* İstediğiniz renk kodunu buraya yazın */
    transition: background-color 0.3s ease-in-out; /* Pürüzsüz bir geçiş efekti */
}
